# .gitignore file for Nexus
#

# Ignore all dot files
.*

# Except .gitignore
!.gitignore

# Ignore build directories
obj/
[Bb]uild/
[Rr]elease/
[Dd]ebug/
x64/

# Ignore the entire build directory
build/

# Ignore the code analyst directory
CodeAnalyst/
ipch/
.vs/

# Ignore the following Visual Studio files
*.opendb
*.VC.db
*.obj
*.map
*.pdb
*.idb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.htm
*.sbr
*.sdf
*.exp
*.manifest
*.res
*.dep
*.orig
*.opensdf
*.db

